<div class="container">
  <h2><%= @cocktail.name %></h2>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <h4>Ingredients:</h4>

  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>

        <%= dose.description %> of <%= dose.ingredient.name %>
        <i class="fas fa-trash-alt">
        <%= link_to 'Delete this dose', dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
        </i>
        <img src=" <%= @cocktail.picture_url %> " alt="" style="width: 150px;">
      </li>

    <% end %>
  </ul>

  <h3>Reviews:</h3>
  <ol>
    <% @cocktail.reviews.each do |review| %>
      <li>
        <%= review.content %>
        <small>
          Rating: <%= rating_display(review) %>
        </small>
      </li>
    <% end %>
  </ol>

  <%= render '/shared/modal' do %>
    <h4>Add a new dose</h4>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>


      <div class="buttons d-flex justify-content-between">
        <%= f.button :submit, class: 'btn btn-primary' %>
        <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>
      </div>
    <% end %>
  <% end %>

  <%= render 'reviews/review_modal' do %>
    <h4>Add a review</h4>
      <%= simple_form_for [@cocktail, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.button :submit, class: 'btn btn-primary mb-3' %>
      <% end %>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-6">
  </div>

  <%= link_to 'Back to list', cocktails_path  %>


</div>

